@model GoodsModel
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>系统设置-页面演示 zui-admin</title>
    <!-- zui css -->
    <link href="~/Areas/Admin/zui/dist/css/zui.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/zui/dist/theme/blue.css" rel="stylesheet" />
    <!-- app css -->
    <link href="~/Areas/Admin/zui/css/app.css" rel="stylesheet" />
    <!-- jquery js -->
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Areas/Admin/Plugin/My97DatePicker/WdatePicker.js"></script>
    <link href="~/zui-admin/dist/lib/uploader/zui.uploader.css" rel="stylesheet" />
    <style type="text/css">
        .field-validation-error {
            color: red;
        }
    </style>
</head>
<body>
    <div class="content-header">
        <ul class="breadcrumb">
            <li><a href="#"><i class="icon icon-home"></i></a></li>
            <li class="active">仪表盘</li>
        </ul>
    </div>
    <div class="content-body">
        <div class="container-fluid">
            @using (Ajax.BeginForm("Create", new AjaxOptions { HttpMethod = "Post", OnSuccess = "SaveSucess" }))
            {
                <div class="form-group">
                    <label>分类选择</label>
                    @Html.DropDownListFor(m => m.CategoryID, ViewBag.selectLists as IEnumerable<SelectListItem>, "--请选择--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.CategoryID)
                </div>
                <div class="form-group">
                    <label>商品名称</label>
                    @Html.TextBoxFor(m => m.GoodsName, new { @class = "form-control", placeholder = "请输入密码" })
                    @Html.ValidationMessageFor(m => m.GoodsName)
                </div>
                <div class="form-group">
                    <label>商品价格</label>
                    @Html.TextBoxFor(m => m.Price, new { @class = "form-control", placeholder = "请输入姓名" })
                    @Html.ValidationMessageFor(m => m.Price)
                </div>
                <div class="form-group">
                    <label>商品库存</label>
                    @Html.TextBoxFor(m => m.Stock, new { @class = "form-control", placeholder = "请输入姓名" })
                    @Html.ValidationMessageFor(m => m.Stock)
                </div>
                <div class="form-group">
                    <label>是否上架</label>
                    <div class="switch">
                        <input id="IsShow" name="IsShow" type="checkbox" value="true">
                        <label>上架</label>
                    </div>
                </div>
                <div class="form-group">
                    <label>图片上传</label>
                    <div id="uploaderExample" class="uploader">
                        <div class="file-list" data-drag-placeholder="请拖拽文件到此处"></div>
                        <button type="button" class="btn btn-primary uploader-btn-browse"><i class="icon icon-cloud-upload"></i> 选择文件</button>
                    </div>
                    @Html.HiddenFor(m => m.GoodsPic)
                </div>
                <div class="form-group">
                    <label>商品介绍</label>
                    @Html.TextAreaFor(m => m.Details, new { style = "width:100%;height:300px;" })
                </div>

                <button type="submit" class="btn btn-primary">提交</button>
            }
        </div>
    </div>
    <!-- zui js -->
    <script src="~/zui-admin/dist/js/zui-1.9.2.js"></script>
    <script src="~/zui-admin/dist/lib/uploader/zui.uploader.js"></script>
    <!-- app js -->
    <script src="~/zui-admin/js/app.js"></script>
    <script src="~/Areas/Admin/Plugin/kindeditor/kindeditor-all.js"></script>
    <script src="~/Areas/Admin/Plugin/kindeditor/lang/zh-CN.js"></script>
    <script>
        function SaveSucess(data) {
            window.location.reload();
        }

        $(function () {
            
            KindEditor.ready(function (K) {
                window.editor = K.create('#Details', {
                    items: [
                        'source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',
                        'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
                        'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
                        'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/',
                        'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
                        'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image', 'multiimage',
                        'flash', 'media', 'insertfile', 'table', 'hr', 'emoticons', 'baidumap', 'pagebreak',
                        'anchor', 'link', 'unlink', '|', 'about'
                    ]
                    , uploadJson:"/Areas/Admin/Plugin/kindeditor/asp.net/upload_json.ashx"
                });
            });

            $('#uploaderExample').uploader({
                autoUpload: true,            // 当选择文件后立即自动进行上传操作
                url: '@Url.Action("Upload")',  // 文件上传提交地址
                multipart_params: {
                    foo: 'foo',
                    bar: ['bar1', 'bar2'],
                    test: {
                        attr1: 'attr1 value'
                    }
                },
                filters: {
                    // 只允许上传图片或图标（.ico）
                    mime_types: [
                        { title: '图片', extensions: 'jpg,gif,png' },
                        { title: '图标', extensions: 'ico' }
                    ],
                    // 最大上传文件为 1MB
                    max_file_size: '1mb',
                    // 不允许上传重复文件
                    prevent_duplicates: true
                },
                onFileUploaded: function (file, responseObject) {
                    console.log(file.url);
                    $("#GoodsPic").val(file.url);
                }
            });
        })
    </script>
</body>
</html>